<nav>
    <ul>
        <li><a routerLink="/">Каталог</a></li>
        <li><a routerLink="/cart">Корзина</a></li>
        @if (loginService.isLoggedIn()) {
            <li><a routerLink="/history">История заказов</a></li>
            @if (loginService.isAdmin()) {
                <li class="right"><a routerLink="/admin">Администрирование</a></li>
            }
            <li class="right"><a (click)="logout()">Выход</a></li>
        }
        @if (!loginService.isLoggedIn()) {
            <li class="right"><a routerLink="/registration">Регистрация</a></li>
            <li class="right"><a routerLink="/login">Вход</a></li>
        }
    </ul>
</nav>
