<nav>
    <ul>
        <li>
            <a routerLink="/">
                <img [alt]="appTitle" [ngSrc]="imgSrc" width="24" height="24" />
            </a>
        </li>
        <li>
            <a routerLink="/">Каталог</a>
        </li>
        <li>
            <a routerLink="/cart">Корзина</a>
        </li>
        @if (loginService.isLoggedIn()) {
            <li>
                <a routerLink="/history">История заказов</a>
            </li>
            @if (loginService.isAdmin()) {
                <li class="right">
                    <details
                        id="adminDetails"
                        (mouseenter)="onAdminMouseEnter()"
                        (mouseleave)="onAdminMouseLeave($event)"
                        (click)="$event.preventDefault()">
                        <summary>Администрирование</summary>
                        <div class="absolute">
                            <p><a routerLink="/admin">Добавить продукт</a></p>
                            <p><a routerLink="/admin">Редактировать каталог</a></p>
                            <p><a routerLink="/admin">Журнал событий</a></p>
                        </div>
                    </details>
                </li>
            }
            <li class="right">
                <a (click)="logout()">Выход</a>
            </li>
        }
        @if (!loginService.isLoggedIn()) {
            <li class="right">
                <a routerLink="/registration">Регистрация</a>
            </li>
            <li class="right">
                <a routerLink="/login">Вход</a>
            </li>
        }
    </ul>
</nav>
