<div class="product-card">
    <span>{{ productName }}</span>
    <img class="product-card-img" [alt]="productName" [ngSrc]="imgSrc" width="100" height="100">
    <span>{{ price }} р.</span>
    <br>
    @if (productsNumber === 0) {
        <button class="right" (click)="numberIncrement()">В корзину</button>
    } @else {
        <div class="right">
            <a (click)="numberDecrement()">-</a>
            <span>{{productsNumber}}</span>
            <a (click)="numberIncrement()">+</a>
        </div>
    }
</div>
