<div class="product-card">
    @if (!productAndNumberDto) {
        <span>Проблема с загрузкой товара</span>
    } @else {
        <span>{{ productAndNumberDto.product.name }}</span>
        <img class="product-card-img"
             [alt]="productAndNumberDto.product.name"
             [ngSrc]="productAndNumberDto.product.imgSrc"
             width="100"
             height="100" />
        <span>{{ productAndNumberDto.product.price }} р.</span>
        <br>
        @if (productAndNumberDto.productsNumber === 0) {
            <button class="right" (click)="numberIncrement()">В корзину</button>
        } @else {
            <div class="right">
                <a (click)="numberDecrement()">-</a>
                <span>{{productAndNumberDto.productsNumber}}</span>
                <a (click)="numberIncrement()">+</a>
            </div>
        }
    }
</div>
