<div class="product-card">
    @if (!product) {
        <span>Ошибка при загрузке товара.</span>
    } @else {
        <span>{{ product.name }}</span>
<!--       TODO: сделать карусель картинок-->
        <!-- Приоритет для первой картинки, чтобы убрать предупреждение о Largest Contentful Paint (LCP) element -->
        <img class="product-card-img"
             [alt]="product.name"
             [ngSrc]="imageUrls[0] ? imageUrls[0] : 'product-placeholder-image/thumb200.webp'"
             width="200"
             height="200"
             [priority]="isFirst"
             (error)="onImageError($event)"
        />
        <span>{{ product.price }} р.</span>
        <br>
<!--        @if (productAndNumberDto.productsNumber === 0) {-->
<!--            <button class="right" (click)="numberIncrement()">В корзину</button>-->
<!--        } @else {-->
<!--            <div class="right">-->
<!--                <a (click)="numberDecrement()">-</a>-->
<!--                <span>{{productAndNumberDto.productsNumber}}</span>-->
<!--                <a (click)="numberIncrement()">+</a>-->
<!--            </div>-->
<!--        }-->
    }
</div>
